body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('https://images.unsplash.com/photo-1501973801540-537f08ccae7b?auto=format&fit=crop&w=1600&q=80') no-repeat center center/cover;
  color: #333;
  transition: all 0.5s;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 90%;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  color: aliceblue;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 245, 56);

  
}

.search-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-box input {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}

.search-box button {
  padding: 10px 20px;
  border: none;
  background-color: #2196F3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.search-box button:hover {
  background-color: #0b7dda;
}

.weather-card {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  transition: all 0.5s;
}

.weather-info img {
  width: 100px;
  animation: float 2s infinite ease-in-out;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

